<div class="container" mt-5>
    <div class="row">
      <!-- <div *ngFor="let movie of movieList" class="col-lg-2 col-md-3 col-sm-6">
         <app-movie [movie]="movie"></app-movie>
        
      </div> -->
      <div class="container">
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Title</th>
                <th>Language</th>
                <th>Location</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movieList">
              <td>
                <a class="nav-link" [routerLink]="['/movie', movie]">{{movie.title}}</a>                
              </td>
              <td>{{ movie.language }}</td>
              <td>{{ movie.location }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>